@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'GulfsDisplay'; /* Choose a name for the font */
  src: url('./assets/GulfsDisplay-Normal.ttf') format('truetype'); /* Replace with the actual path to your font */
  /* You can also include other font formats for better cross-browser compatibility */
}


body {
  font-family: 'GulfsDisplay', sans-serif; /* Use the font for the body text */
}

.normtext {
  font-family: 'Josefin Sans', sans-serif;
}



@keyframes slowRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-rotate {
  animation: slowRotation 10s linear infinite; /* Adjust the duration to control rotation speed */
}
